<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <h1 style="text-align: center">Wolcome to the Great Number Game</h1>
    <h3  style="text-align: center">I'm thinking of a number between 1 and 100...</h3>
    <p style="text-align: center">Take a guess!</p>
    <form style="text-align: center;" action="/gess" method="post">
        <input type="number" name="guess" ><br>
        <button>Submit</button>
    </form>
    
</body>
</html>